= simple_form_for @message, :html =>{:multipart => true} do |f|
  = f.input :title, :label => "Nombre de tu receta", :value => @message.title
  = f.label "Ingredientes"
  #ingredients
    = f.fields_for :ingredients, @message.ingredients do |i|
      %div.input_collection
        = i.input :quantity, :label => false, :placeholder => "#", :input_html => {:size => 3 }
        = i.input :ingredient_type, :label => false, :placeholder => "Tipo", :input_html => {:size => 14 }
        = i.input :product, :label => false, :placeholder => "Ingrediente", :input_html => {:size => 28 }
        - if i.object == @message.ingredients.last
          %a{:href => "#", :id => "new_message"} +
        -else
          - unless i.object == @message.ingredients.first
            %a{:href => "#", :class => "remove_message"} -
    %span.hint Ej. 5 - OZ - Azúcar
  = f.input :photo, :label => "Sube la mejor foto de tu receta", :hint => "Sólo se permiten imágenes (extensiones .jpg, .png, .gif). Tamaño máximo de upload: 2MB"
  = f.input :content, :label => "¿Cómo se prepara?"

  = f.input :user_id, :as => :hidden, :value => current_user.id if current_user
  = f.submit 'Enviar receta'
