%li.message{:id => "message_#{message.id}"}
  %h4= link_to message.title, message
  .content= simple_format message.content
  .meta_data
    .avatar
    .name= message.try(:user).try(:name)
    .votes
      = render :partial => "messages/message_data", :object => message
