%li.message{:id => "message_#{message.id}", :title => message.title, :class => truncating_text_class(message.title)}
  .share_zone
    .title
      = link_to truncate(message.title, :length => 15), message, :title => message.title, :rel => message.title
    .icons
      = link_to "Facebook", facebook_recipe_url(message), :class => "facebook_icon"
      = link_to "Twitter", "http://twitter.com/share?url=#{URI.escape(message_url(message))}", :class => "twitter_icon"
  .photo_zone
    = link_to facebook_recipe_path(message) do
      - if message.photo_file_name
        = image_tag message.photo.url(:thumb)
      - else
        = image_tag "default.jpg"
  .meta_data
    .avatar
    .votes
      = render :partial => "messages/message_data", :object => message
