%li.message
  %h4= @message.title
  .content= simple_format @message.content
  .meta_data
    .avatar
    .name= @message.try(:user).try(:name)
    .votes
      = @message.votes_count
      .submit
        = simple_form_for Vote.new(:message_id => @message.id), :remote => true do |f|
          = f.button :submit, "Votar"