%li.message{:id => "message_#{message.id}", :title => message.title, :class => truncating_text_class(message.title)}
  .share_zone
    .title
      = link_to truncate(message.title, :length => 15), "http://apps.facebook.com/masbuenoqueelpan#{facebook_recipe_path(message)}", :title => message.title, :rel => message.title
    .icons
      = link_to "Facebook", "http://apps.facebook.com/masbuenoqueelpan#{facebook_recipe_path(message)}", :class => "facebook_icon", :title => message.title
      = link_to "Twitter", message.twitter_link, :class => "twitter_icon"
  .photo_zone
    = link_to "http://apps.facebook.com/masbuenoqueelpan#{facebook_recipe_path(message)}" do
      - if message.photo_file_name
        = image_tag message.photo.url(:thumb), :title => message.title, :alt => message.title, :width => "155px", :height => "110px"
      - else
        = image_tag "default.jpg"
    - if message.user && !User::NINJAS.include?(message.user.facebook_uid)
      %img.author_picture{:src => "http://graph.facebook.com/#{message.user.facebook_uid}/picture", :title => message.user.name.titleize, :width => 32, :height => 32}
  .meta_data
    .avatar
    .votes
      = render :partial => "messages/message_data", :object => message
