%ul#messages_list
  %li.message{:id => "message_#{@message.id}"}
    %h4= @message.title
    .content= simple_format @message.content
    .meta_data
      .avatar
      .name= @message.try(:user).try(:name)
      .votes
        = render :partial => "messages/message_data", :object => @message

  #fb-root
  %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
  %fb:comments{:href => message_url(@message), :num_posts => "10", :width => "500"}