.inner
  #messages_list
    %h3{:class=>recipe_color(@message)}= @message.title
    .message{:id => "message_#{@message.id}", :title => @message.title}
      .share_zone
        .title
        .icons
          = link_to "Facebook", "#", :class => "facebook_icon"
          = link_to "Twitter", "#", :class => "twitter_icon"
      .photo_zone
        = link_to @message do
          - if @message.photo_file_name
            = image_tag @message.photo.url(:big)
          - else
            = image_tag "default.jpg"
      .meta_data
        .avatar
        .votes
          = render :partial => "messages/message_data", :object => @message

  .message_content
    .ingredients
      %h3 Ingredientes
      .content
        = simple_format @message.ingredients
    .how_to
      %h3 Preparación
      .content
        = simple_format @message.content

  %h3.comments Deja tus comentarios
  #fb-root{:style => "display:block;clear:both"}
  %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
  %fb:comments{:href => message_url(@message), :num_posts => "10", :width => "500"}