- unless @message.published?
  %p.description Revisa que tu receta est&eacute; correcta.

- if flash[:published]!=""
  %p.description
    = raw flash[:published]

.inner
  #messages_list
    %h3{:class=>recipe_color(@message)}= @message.title.humanize
    .message{:id => "message_#{@message.id}", :title => @message.title}
      .share_zone
        .title
        .icons
          = link_to "Facebook", "http://apps.facebook.com/masbuenoqueelpan#{facebook_recipe_path(message)}", :class => "
          = link_to "Twitter", "http://twitter.com/share?url=#{URI.escape(message_url(@message))}", :class => "twitter_icon"
      .photo_zone
        = link_to @message do
          - if @message.photo_file_name
            = image_tag @message.photo.url(:big)
          - else
            = image_tag "default.jpg"
      .meta_data
        .avatar
        .votes
          = render :partial => "messages/message_data", :object => @message

  .message_content
    .ingredients
      %h3 Ingredientes
      .content
        %ul
          - @message.ingredients.each do |ingredient|
            - unless ingredient.product.blank?
              %li
                =ingredient.quantity
                - unless ingredient.ingredient_type.blank?
                  = "#{ingredient.ingredient_type} de"
                = ingredient.product
    .how_to
      %h3 Preparación
      .content
        = simple_format @message.content

  - unless @message.published?
    .message_actions
      %a.button{:href => publish_message_path(@message)} Mandar
      %a.button{:href => edit_message_path(@message)} Editar

  %h3.comments Deja tus comentarios
  #fb-root{:style => "display:block;clear:both"}
  %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
  %fb:comments{:href => facebook_recipe_url(@message), :num_posts => "10", :width => "500"}
