%h1 Participa y envíanos tu receta
- if current_user && current_user.name
  %h2
    Hola 
    %span.name= current_user.name
    Envíanos tu receta para un Perú adelante

%ul#categories
  - Category.all.each do |c|
    %li= link_to c.name, "#"

= simple_form_for @message do |f|
  = f.input :title, :label => false
  = f.input :content, :label => false
  = f.input :user_id, :as => :hidden, :value => current_user.id if current_user
  = f.association :category, :label => "Categoría"
  = f.submit 'Enviar receta'

%ul#messages_list
  = render @messages

%div{:style=>"display:none;"}
  = @data.inspect if @data