<!DOCTYPE html>
<html>
<head>
  <title>Kato</title>
  <%= include_stylesheets :app %>
  <%= include_javascripts :app %>
  <%= csrf_meta_tag %>
  
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

</body>
</html>
