<!DOCTYPE html>
<html>
<head>
  <title>Kato</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold&v1' rel='stylesheet' type='text/css'>
  <%= include_stylesheets :app %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div id="logo">
    BBVA Continental - 3er Concurso PeruGourmet
  </div>

  
  <div class="wrapper">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>    

  </div>
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
  FB.init({
  appId : '136578643087393',
  status : true, // check login status
  cookie : true, // enable cookies to allow the server to access the session
  xfbml : true // parse XFBML
  });
  </script>
  <%= include_javascripts :app %>  
</body>
</html>
