!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %title Kato
    %link{:href => "http://fonts.googleapis.com/css?family=Gloria+Hallelujah", :rel => "stylesheet", :type => "text/css"}/
    = include_stylesheets :app
    /[if IE]
      %link{:href=>"/stylesheets/ie.css", :media=>"screen", :rel=>"stylesheet",  :type=>"text/css"}
    = csrf_meta_tag
  %body
    .page
      .whole
        = render 'layouts/header'
        .wrapper
          / %p.notice= notice
          / %p.alert= alert
          .main
            .content_list
              = yield
            .sidebar
              %h3 Las más votadas
              %ul#most_voted
                = render :partial => "messages/message", :collection => @most_voted, :as => :message
              .additional
                = link_to "Ver todos", messages_path, :class=> "button"
        #footer
          = link_to "Términos y condiciones del concurso", terms_path, :class => "terms_button"
    %script{:src => "http://connect.facebook.net/en_US/all.js"}
    :javascript

      window.fbAsyncInit = function() {

        FB.init({
        appId : '136578643087393',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml : true // parse XFBML
        });

        window.setTimeout(function() {
          FB.Canvas.setAutoResize();
        }, 250);
      };

      (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());


    = include_javascripts :app
    %script{:src => "http://js.pusherapp.com/1.8/pusher.min.js", :type => "text/javascript"}
