!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %title Primer Concurso Más Bueno Que El Pan
    %link{:href => "http://fonts.googleapis.com/css?family=Gloria+Hallelujah", :rel => "stylesheet", :type => "text/css"}/
    = include_stylesheets :app
    /[if IE]
      %link{:href=>"/stylesheets/ie.css", :media=>"screen", :rel=>"stylesheet",  :type=>"text/css"}
    = csrf_meta_tag
    %meta{:content => "Primer Concurso Más Bueno Que El Pan", :property => "og:title"}/
    %meta{:content => "https://apps.facebook.com/masbuenoqueelpan", :property => "og:url"}/
    %meta{:content => "Cuenta Ganadora presenta el Primer Concurso Más Bueno Que El Pan. Sube tu receta que tenga al pan como protagonista y puedes ganar $ 5,000 dólares. Además, vive la experiencia de cocinar en la Final de la Feria Mistura.", :property => "og:description"}/
    %meta{:content => "http://alpha-kato.heroku.com/images/logo_concurso.png", :property => "og:image"}/
  %body.list
    .page
      .whole
        = render :partial => 'layouts/header'
        .wrapper
          / %p.notice= notice
          / %p.alert= alert
          .main
            .content_list
              %h1#message_index Estas son las recetas más buenas que el pan
              %p.description
                Vota por tu receta de pan favorita y ayuda a nuestro jurado a escoger a los 5 finalistas que participar&aacute;n en la Gran Final de Mistura.
              = yield
        #footer
          = link_to "Términos y condiciones del concurso", "http://apps.facebook.com/masbuenoqueelpan#{terms_path}", :class => "terms_button"
    %script{:src => "https://connect.facebook.net/en_US/all.js"}
    :erb
      <script type="text/javascript">
        var fb_token = '<%= fb_token %>';
      </script>
    :javascript

      window.fbAsyncInit = function() {

        FB.init({
        appId : '136578643087393',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml : true // parse XFBML
        });

        window.setTimeout(function() {
          FB.Canvas.setAutoResize();
        }, 250);
      };

      (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());


    = include_javascripts :app
    = render :partial => 'layouts/footer'